/* Encuadre de las fotos. Lo escribe el editor; no hace falta tocarlo. */
img[data-foto="curataqui_2"]{object-position:54.3% 64.2%;--org:54.3% 64.2%;--zoom:1.000}
img[data-foto="curataqui_5"]{object-position:50.0% 50.0%;--org:50.0% 50.0%;--zoom:1.088}
img[data-foto="diluen20_2"]{object-position:52.5% 43.0%;--org:52.5% 43.0%;--zoom:1.000}
img[data-foto="diluen20_3"]{object-position:48.3% 15.8%;--org:48.3% 15.8%;--zoom:1.000}
img[data-foto="macolla15_1"]{object-position:50.0% 50.0%;--org:50.0% 50.0%;--zoom:1.000}
img[data-foto="veladero_1"]{object-position:50.0% 50.0%;--org:50.0% 50.0%;--zoom:1.000}
img[data-foto="veladero_2"]{object-position:50.0% 50.0%;--org:50.0% 50.0%;--zoom:1.000}
img[data-foto="veladero_3"]{object-position:0.0% 30.1%;--org:0.0% 30.1%;--zoom:1.254}
img[data-foto="xpmorichal_1"]{object-position:50.0% 50.0%;--org:50.0% 50.0%;--zoom:1.120}
