/* Encuadre de las fotos en la HOJA DE PIE. Lo escribe el editor; no hace falta tocarlo. */
img[data-foto="clientes_equipo"]{object-position:72.6% 70.3%;--org:72.6% 70.3%;--zoom:1.000}
img[data-foto="empresa_sede"]{object-position:32.0% 91.9%;--org:32.0% 91.9%;--zoom:1.123}
img[data-foto="empresa_tendido"]{object-position:47.1% 0.0%;--org:47.1% 0.0%;--zoom:1.000}
img[data-foto="flota_1"]{object-position:42.8% 24.6%;--org:42.8% 24.6%;--zoom:1.000}
img[data-foto="flota_2"]{object-position:67.6% 24.4%;--org:67.6% 24.4%;--zoom:1.000}
img[data-foto="flota_3"]{object-position:18.2% 100.0%;--org:18.2% 100.0%;--zoom:1.000}
img[data-foto="flota_4"]{object-position:45.6% 28.1%;--org:45.6% 28.1%;--zoom:1.482}
img[data-foto="flota_equipo"]{object-position:49.4% 68.8%;--org:49.4% 68.8%;--zoom:1.000}
img[data-foto="flota_equipo_cierre"]{object-position:16.3% 23.3%;--org:16.3% 23.3%;--zoom:1.000}
img[data-foto="oficina_caracas"]{object-position:47.5% 48.8%;--org:47.5% 48.8%;--zoom:1.000}
img[data-foto="oficina_eltigre"]{object-position:58.4% 0.0%;--org:58.4% 0.0%;--zoom:1.000}
img[data-foto="oficina_lecheria"]{object-position:50.0% 50.0%;--org:50.0% 50.0%;--zoom:1.000}
img[data-foto="oficina_maturin"]{object-position:38.5% 0.0%;--org:38.5% 0.0%;--zoom:1.000}
img[data-foto="servicio_1_zanja"]{object-position:85.5% 39.8%;--org:85.5% 39.8%;--zoom:1.252}
img[data-foto="servicio_2_tendido"]{object-position:17.6% 70.2%;--org:17.6% 70.2%;--zoom:1.000}
img[data-foto="servicio_3_soldadura"]{object-position:59.2% 36.1%;--org:59.2% 36.1%;--zoom:1.000}
img[data-foto="servicio_4_valvula"]{object-position:92.9% 100.0%;--org:92.9% 100.0%;--zoom:1.000}
img[data-foto="valores_equipo"]{object-position:56.0% 99.3%;--org:56.0% 99.3%;--zoom:1.000}
